<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring test</title>
</head>
<body>

<h1>Best of the year by <span th:text="${ownerName}"></span>:</h1>
<ul>
    <li th:each="string: ${stringList}">
        <span th:text="${string}"></span>
    </li>
</ul>

<button>
    <a href="http://localhost:8080/songs">
        songs
    </a>
</button>

<button>
    <a href="http://localhost:8080/movies">
        movies
    </a>
</button>

</body>
</html>