<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: headResources(${pageTitle})}">
</head>
<body>


<div class="container">
    <nav th:replace="~{/fragments/navbar :: topNavbar(${pageTitle})}"></nav>

    <h1>Best of the year by <span th:text="${ownerName}"></span>:</h1>

    <ul>
        <li th:each="string: ${stringList}">
            <a th:href="@{|/${pageTitle}/${string.id}|}">
                <span th:text="${string.getId() + '-' + string.getTitle()}"></span>
            </a>
        </li>
    </ul>
</div>


</body>
</html>