<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring test</title>
</head>
<body>

<h1>Best of the year by <span th:text="${ownerName}"></span>:</h1>
<div><span th:each="string: ${stringList}"><span th:text="|${string.getTitle()}, |"></span></span></div>
<ul>
    <li th:each="string: ${stringList}">
        <span th:text="${string.getId() + '-' + string.getTitle()}"></span>
    </li>
</ul>

<button>
    <a href="http://localhost:8080">
        home
    </a>
</button>

<button>
    <a href="http://localhost:8080/songs">
        songs
    </a>
</button>

<button>
    <a href="http://localhost:8080/movies">
        movies
    </a>
</button>

</body>
</html>